---
import Layout from "../layouts/Layout.astro";
import Button from "../components/Button.astro";
import Card from "../components/Card.astro";
import TeamMember from "../components/TeamMember.astro";
import PageTitle from "../components/PageTitle.astro";
import FeaturedDestinationItem from "../components/FeaturedDestinationItem.astro";
import Input from "../components/Input.astro";
import SocialMediaIcon from "../components/SocialMediaIcon.astro";
import Header from "../components/Header.astro";
import TitleArrow from "../assets/title_arrow.png";
import TitleArrow2 from "../assets/title_arrow_2.png";
import { Image } from "astro:assets";
import HomeVideo from "../assets/video.mp4";
---

<Layout>
  <div
    class="bg-[url(/background.png)] bg-local bg-clip-border bg-origin-border bg-top bg-size-[120%]"
  >
    <Header />
    <!-- HOME -->
    <div class="lg:mt-14 mb-8 fade-in" id="HOME">
      <Card dark>
        <div class="lg:p-[8%] py-9 px-3">
          <PageTitle
            title="Tu historia favorita aún no se ha escrito… empieza en el próximo destino."
          />
          <p
            class="mt-5 font-light mx-[10%] text-center font-stretch-expanded lg:text-xl text-xs text-white"
          >
            Descubre Colombia y Europa con experiencias únicas que te
            transforman. Con REMA Travel, tu próxima aventura comienza hoy.
          </p>
        </div>
      </Card>
      <div class="mx-[6%] mt-10 rounded-2xl overflow-hidden">
        <video autoplay muted loop controls
          ><source src={HomeVideo} type="video/mp4" /></video
        >
      </div>
    </div>

    <!-- DESTINOS DESTACADOS -->
    <div class="py-[5%] fade-in overflow-hidden" id="DESTINOS_DESTACADOS">
      <Image src={TitleArrow} alt="Title arrow" class="lg:w-19/20 w-19/20" } />
      <PageTitle title="Destinos Destacados" dark />
      <div class="flex flex-col gap-15 mt-[10%]">
        <FeaturedDestinationItem
          title="Colombia"
          destinations={[
            {
              title: "Caribe",
              destinations: "Cartagena, San Andrés, Santa Marta",
            },
            {
              title: "Naturaleza",
              destinations: "Eje Cafetero, Amazonas, Caño Cristales",
            },
            {
              title: "Cultura",
              destinations: "Bogotá, Medellín, Zipaquirá",
            },
          ]}
        />
        <FeaturedDestinationItem
          title="Europa"
          destinations={[
            {
              title: "Costas",
              destinations: "Brighton, Cornwall, Bournemouth",
            },
            {
              title: "Naturaleza",
              destinations: "Lake District, Peak District, New Forest",
            },
            {
              title: "Cultura",
              destinations: "London, Oxford, Stratford-upon-Avon",
            },
          ]}
        />
      </div>
      <Image
        src={TitleArrow}
        alt="Title arrow"
        class="lg:w-19/20 ml-4 rotate-180"
        }
      />
    </div>

    <!-- PLANES-->
    <div class="flex lg:items-start mt-[5%] flex-col fade-in" id="SERVICIOS">
      <PageTitle title="Planes" dark />
      <div class="lg:px-[6%] px-15">
        <div class="p-9 my-5 bg-white/20 rounded-4xl gap-14 flex flex-col">
          <img
            src="/ruta_del_cafe.png"
            alt="Ruta del cafe"
            class="mx-auto w-[75%]"
          />
          <img src="/antioqueno.png" alt="Antioqueno" class="mx-auto w-[75%]" />
          <img src="/minca.png" alt="Minca" class="mx-auto w-[75%]" />
          <img src="/medellin.png" alt="Medellin" class="mx-auto w-[75%]" />
        </div>
      </div>
    </div>

    <!-- EXPERIENCIAS -->
    <div class="fade-in lg:pt-0 pt-3 mb-5" id="SOLUCIONES_POR_OBJETIVO">
      <PageTitle title="Experiencias" dark />
      <div class="flex flex-wrap w-full gap-4 justify-center mt-8">
        {
          Array.from(
            { length: 9 },
            (_, index) => `experiencia${index + 1}.png`,
          ).map((experience) => (
            <img src={experience} alt={experience} class="w-[25%]" />
          ))
        }
      </div>
    </div>

    <!-- CONTACTANOS -->
    <div class="lg:px-20 px-5 fade-in" id="CONTACTO">
      <div
        class="lg:px-0 overflow-hidden px-15 lg:pt-0 pt-6 lg:mb-20 mb-7 flex justify-center lg:justify-between items-center"
      >
        <Image
          class="w-1/3 object-contain -ml-32 lg:-ml-10"
          src={TitleArrow2}
          alt="Title arrow 2"
        />
        <PageTitle dark title="Sobre Nosotros" />
        <Image
          class="w-1/3 object-contain -mr-32 rotate-180 lg:-mr-10"
          src={TitleArrow2}
          alt="Title arrow 2"
        />
      </div>
      <Card title="¿Quiénes somos?">
        <div
          class="lg:divide-x lg:flex lg:mb-[2%] lg:mt-0 my-4 text-center lg:text-start lg:mx-0 mx-6 items-center"
        >
          <p class="text-white lg:text-2xl px-[6%] py-[4%] lg:w-[55%]">
            En <b>Rema Travel</b>, nuestra pasión por crear experiencias
            inolvidables es el motor que impulsa cada uno de nuestros viajes.
            Más que planificar itinerarios, diseñamos momentos únicos que se
            quedan en la memoria para siempre. Nos encargamos de cada detalle,
            desde el transporte y el alojamiento hasta las actividades más
            especiales, para que tú solo te dediques a disfrutar. Con nosotros,
            cada destino se convierte en una historia que vale la pena contar.
          </p>
        </div>
      </Card>
    </div>

    <!-- FOOTER -->
    <div class="lg:flex lg:py-20 lg:px-20 lg:items-center">
      <img
        src={"/logo.png"}
        alt="rema travel"
        class="lg:w-1/9 w-1/5 mb-6 mt-12 lg:m-0 mx-auto brightness-0 invert"
      />
      <p
        class="text-center text-white pb-10 lg:pb-0 hidden lg:block lg:ml-auto mr-5"
      >
        RemaTravel2025
      </p>
      <div class="flex gap-4 w-full justify-center lg:w-auto lg:pb-0 pb-4">
        <SocialMediaIcon icon="facebook" />
        <SocialMediaIcon icon="whatsapp" />
        <SocialMediaIcon icon="instagram" />
      </div>
      <p class="text-center text-white pb-10 lg:hidden">RemaTravel2025</p>
    </div>
  </div>
</Layout>
